<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1094255389384-4oopl8dmgog8gbee7qpb8ro1o5ipsv32</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1094255389384-4oopl8dmgog8gbee7qpb8ro1o5ipsv32.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
